{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Calculadora Fatec é uma ferramenta para auxiliar candidatos a ingressarem nas instituições Fatecs. Armazenamos todas as demandas e notas de cortes dos vestibulares e expertize para conduzir um melhor resultado para o vestibular. Por isso, Calculadora Fatec, quem usa, sabe. Assine agora o serviço e se aproxime do seu objetivo em ser um aluno da Fatec. VEM PRA FATEC! Os candidatos podem usar a ferramenta para Calcular a Nota do Vestibular, Consultar os Guias de Fatecs e Cursos e prepare-se melhor para o exame do Vestibular.">
{% endblock %}

{% block 'title' %}Simulados: Calculadora FATEC::Quem Usa, SABE! {% endblock %}

{% block 'body' %}
<div class="container">    
    <div class="px-4 py-5 my-5 text-center bg-body rounded shadow-sm ">
        <img class="d-block mx-auto mb-4" src="{% static 'core/img/calculadora.png' %}" alt="" />
        <h1 class="display-5 fw-bold text-dark">Simulados da Calculadora Fatec</h1>      
        <p>
            Defina como deseja preparar o seu simulado para continuar o seus estudos.
        </p> 
        <div class="col-lg-6 mx-auto">
            <form  action="{% url 'simulados:teste-simulado' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="input-group input-group-lg my-3">
                    <select class="form-select" id="cod_curso" name="cod_curso" required="required">
                        <option selected value="0">Escolha o curso...</option>
                            {% for curso in cursos %}
                                <option value="{{ curso.id }}" data-mat1="{{ curso.materia_1 }}" data-mat2="{{ curso.materia_2 }}" >{{curso}}</option>
                            {% empty %}
                                <option value="0">Não tem nenhum curso disponível</option>                        
                            {% endfor %}                  
                    </select>                
                </div>    
                <div class="input-group input-group-lg my-3">
                    <select class="form-select" name="prova_vestibular" id="prova_vestibular" required="required">
                        <option value="0">Selecione a edição do vestibular</option>
                        {% for p in processos_seletivos %} 
                            <option data-ano="{{ p.ano }}" data-semestre="{{ p.semestre }}" value="{{ p.semestre }}-{{ p.ano }}" {% if not p.simulado_gratuito %} disabled {% endif %}>{{ p.edicao }}</option>
                         {% empty %}
                         <option value="0">Não tem processos seletivos disponíveis</option>                        
                        {% endfor %}                                                                              
                    </select>
                    {% comment "Não consegui implementar com o a estrutura do optgroup" %}
                        <select class="form-select" >
                            <option value="0">Selecione a prova do vestibular</option>
                            <optgroup label="Simulados Gratuitos">
                                <option value="12009">1º Semestre - 2009</option>
                                ...                   
                            </optgroup>
                            <optgroup label="Simulados Assinantes" class="assinantes">
                                ...
                                <option value="12023" disabled="disabled">1º Semestre de 2023</option>                          
                            </optgroup>                                                      
                        </select>
                    {% endcomment %}                    
                </div>            
                <input type="submit" class="btn w-100 btn-primary my-3 btn-lg" value="Iniciar simulado" />            
            </form> 
        </div>
    </div>  
    <hr class="my-4" />    
    <br />
</div>    

{% endblock %}