{% extends 'base.html' %}
{% load static %}

{% block 'head' %} 
    <meta name="description" content="Calculadora Fatec é uma ferramenta para auxiliar candidatos a ingressarem nas instituições Fatecs. Armazenamos todas as demandas e notas de cortes dos vestibulares e expertize para conduzir um melhor resultado para o vestibular. Por isso, Calculadora Fatec, quem usa, sabe. Assine agora o serviço e se aproxime do seu objetivo em ser um aluno da Fatec. VEM PRA FATEC! Os candidatos podem usar a ferramenta para Calcular a Nota do Vestibular, Consultar os Guias de Fatecs e Cursos e prepare-se melhor para o exame do Vestibular.">
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=424712847699208&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>    
{% endblock %}

{% block 'title' %}Análise Fatec: {{detalhe.fatec}} {% endblock %}

{% block 'body' %}
    
<div class="container">    
    <div class="py-5 text-center text-light ">
        <img class="img-fluid d-block mx-auto mb-4" width="500px" src="{{detalhe.imagem}}" alt=""  title="Fachada da {{detalhe.fatec}}"/>
        <h1>Seja bem-vindo(a) na - Fatec {{detalhe.fatec}}<br />{{detalhe.institucional}}</h1>
        <p class="lead">
            Consulte informações pertinentes a instituição desejada. Tire suas dúvidas e faça uma escolha assertiva.
        </p>
    </div>    
    <hr class="my-4" />
    <div class="row">    
        <div class="col-12 bg-light m-3 p-5 ">
            <div class="fb-page" data-href="https://www.facebook.com/fatecsorocaba/" data-tabs="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            <address class="my-2"> 
                <strong>Endereço:</strong> {{detalhe.endereco}}<br />
                <strong>Cidade:</strong> {{detalhe.cidade}}/SP<br />
                <strong>Região:</strong> {{detalhe.regiao}}<br />
                Visualizar no <a href="{{detalhe.googlemaps}}" target="_blank">GoogleMaps</a><br />
                <a class="btn btn-outline-secondary my-2" href="#mapa-localizacao" role="button">Ver Mapa</a>
            </address>            
            <section class="my-1">
                <h2>Contato</h2>
                    <ul>
                        {% for contato in contatos %}
                            <li>{{ contato }}</li>   
                        {% empty %}
                            <li>Não tem nenhuma contato disponível</li>                        
                        {% endfor %}                   
                    </ul>
                <h2>Redes sociais e mídias </h2>
                    <ul>
                        {% for social in redessociais %}
                            <li><a href="{{ social }}" target="_blank">{{ social }}</a></li>   
                        {% empty %}
                            <li>Não tem nenhuma rede social disponível</li>                        
                        {% endfor %}                   
                    </ul>                
            </section>
            <section class="my-5 d-none">
                <h2>Demandas</h2>
                <div class="accordion px-3" id="accordionDemandaCursos">
                    {% for resultado in resultado2 %}                            
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              #{{resultado.cod_curso_id}} {{ resultado.cod_curso }} - {{ resultado.periodo }} - Eixo Tecnologico{{ resultado.eixo_tecnologico }} - média demanda
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse {% if forloop.first %} show {% endif %} " aria-labelledby="headingOne" data-bs-parent="#accordionDemandaCursos">
                          <div class="accordion-body">
                              <div class="table-responsive">
                                  <table class="table table-striped table-bordered">
                                      <thead>
                                          <tr>
                                              <th>ANO</th>
                                              <th>SEM</th>
                                              <th>VAGAS</th>
                                              <th>INSCRITOS</th>
                                              <th>DEMANDA</th>
                                          </tr>
                                      </thead>
                                      <tbody>                                          
                                          <tr>			
                                              <td>{{ resultado.ano }}</td><td>{{ resultado.semestre }}</td><td>{{ resultado.qtde_vagas }}</td><td>{{ resultado.qtde_inscrito }}</td><td>{{ resultado.demanda }}</td>
                                          </tr>   
                                          <tr>
                                            <td>2020</td><td>1</td><td>98</td><td>35</td><td>2.8</td>
                                        </tr>                             
                                      </tbody>
                                  </table>
                              </div>                          
                          </div>
                        </div>
                      </div>                    
                   {% endfor %}                     
                </div>
            </section>

            <section class="my-5 ">
                <h2>Demandas</h2>
                <ul>
                    {% for curso_periodo in resultado2 %}                        
                        <li>{{curso_periodo}} - {{ curso_periodo.cod_curso  }} {{ curso_periodo.periodo }}</li>
                        <ul>
                            <li>{% cycle 'row1' 'row2' %} {{ curso_periodo.ano }}/{{ curso_periodo.semestre }} - Demanda: {{ curso_periodo.demanda }} </li>
                        </ul>
                    {% endfor %}   
                </ul>

            </section>            

            <div class="input-group input-group-lg">                
                <div class="cursos">
                    <h2>Cursos Oferecidos <span class="badge bg-primary">{{detalhe.qtd_cursos}}</span></h2>
                    <h3>Cursos Superiores de Tecnologia Presenciais</h3>
                    <ul>
                        {% for curso in cursos %}
                        <li><a href="{% url 'detalhes_curso' curso.slug %}" class="{{ curso.id }}">{{curso}}</a> <span class="badge bg-info">{{curso.eixo_tecnologico}}</span></li>
                        {% empty %}
                            <li>Não tem nenhum curso disponível</li>                        
                        {% endfor %} 
                    </ul>
                </div>
                <div class="mapa my-3 col-12 text-center" id="mapa-localizacao">
                    {% autoescape off %}
                        {{ detalhe.googlemaps_iframe }}
                    {% endautoescape %}
                </div>
                
                <a class="w-100 btn  btn-primary" type="button" href="{%url 'fatecs' %}">Analisar outra instituição</a>
            </div>
        </div>
    </div>
</div>

   {% comment "A fazer" %}
    <ul>
        <li>Trazer todos os endereços sociais (facebook, ...)</li>
        <li>Trazer todos as formas de contato (email, telefone e whatsapp)</li>
        <li>Trazer as listas de cursos ofertados na unidade</li>
        <li>Demanda dos cursos - criar relacionamento e model</li>
        <li>Layout para exibir as demandas</li>
    </ul>
    {% endcomment %}
{% endblock %}