{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Calculadora Fatec - Informações da Nota de Corte">
{% endblock %}

{% block 'title' %}Detalhes da Nota de Corte {% endblock %}

{% block 'body' %}

<div class="container">    
    <div class="container">    
        <div class="px-4 py-5 my-5 my-5 text-center bg-body rounded shadow-sm ">
            <img class="d-block mx-auto mb-4" src="{% static 'core/img/calculadora.png' %}" alt="" />
            <h1 class="display-5 fw-bold text-dark">Informações da Nota de Corte</h1>

            <div class="col-12 mx-auto ">
              <p class="lead mb-4">
                Nota de corte refere-se a nota do último candidato classificado nos vestibulares anteriores para aquele curso, período e Fatec. O conjunto desta informação permite que o candidato realize o processo seletivo com mais confiança e estrategia em sua preparaçãoo. A informação de nota de corte deve ser analisada de maneira exclusiva para cada curso, instituição e período desta oferta.                 
              </p>
              <section class="my-5 text-justify">
                <h2 class="my-5 mx-3 text-start">Nota de corte da Fatec <span class="text-success" >{{ fatec }}</span></h2>
                <div class="accordion px-3" id="accordionDemandaCursos">
                    {% for key, row_value in demandasCursos.items %}                            
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="heading{{ forloop.counter0 }}">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                              {{ key }}
                          </button>
                        </h2>
                        <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse {% if forloop.first %} show {% endif %} " aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionDemandaCursos">
                          <div class="accordion-body">
                              <div class="table-responsive">
                                  <table class="table table-striped table-bordered">
                                      <thead>
                                          <tr>
                                              <th>ANO</th>
                                              <th>SEM</th>
                                              <th>VAGAS</th>
                                              <th>INSCRITOS</th>
                                              <th>DEMANDA</th>
                                              <th>NOTA DE CORTE</th>
                                              <th>NOTA MÁXIMA</th>
                                          </tr>
                                      </thead>
                                      <tbody>      
                                        {%for resultado in row_value %}                                    
                                            <tr>			
                                                <td>{{ resultado.ano }}</td><td>{{ resultado.semestre }}</td><td>{{ resultado.qtde_vagas }}</td><td>{{ resultado.qtde_inscrito }}</td><td>{{ resultado.demanda }}</td><td>{{ resultado.nota_corte }}</td><td>{{ resultado.nota_maxima }}</td>
                                            </tr>  
                                        {% endfor %} 
                           
                                      </tbody>
                                  </table>
                              </div>                          
                          </div>
                        </div>
                      </div>                    
                   {% endfor %}                     
                </div>
            </section>

            </div>
        </div>    
    </div>    
</div>

{% endblock %}