<div class="accordion py-5 px-3 bg-light" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Composição da Prova <small>(clique para abrir)</small>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>O Exame referente ao Processo Seletivo Vestibular, do 2º Semestre de 2018, será constituído de duas partes, comuns a todos os cursos:
                </p>
				<ul class="content-prova mx-4">
                  <li>uma redação;</li>
                  <li>uma prova com <b>54</b> (cinquenta e quatro) questões.</li>
                </ul>
				<p>Cada uma com 5 (cinco) alternativas (<span class="badge bg-light text-dark">A</span>, <span class="badge bg-light text-dark">B</span>, <span class="badge bg-light text-dark">C</span>, <span class="badge bg-light text-dark">D</span> e <span class="badge bg-light text-dark">E</span>), sendo:
				</p>
				<ul class="content-prova mx-4">
                  <li>Cinco (5) questões relativas a cada uma das oito (8) disciplinas que compõem o núcleo comum do ensino médio
                  (<span class="label label-warning">Matemática</span>, <span class="label label-warning">Português</span>, <span class="label label-warning">Física</span>, <span class="label label-warning">Química</span>, <span class="label label-warning">Biologia</span>, <span class="label label-warning">História</span>, <span class="label label-warning">Geografia</span> e <span class="label label-warning">Inglês</span>), num total de 40 (quarenta) questões;</li>
                  <li>Cinco (5) questões com a finalidade de verificar a capacidade de raciocínio lógico do candidato;</li>
                  <li>Nove (9) questões que proporão a articulação de conhecimentos das disciplinas de Ensino Médio, para a solução de
                  situações-problema.</li>
                  <li>Oito (<b>8</b>) conjuntos de questões terão <span class="label label-info">peso 1 (um)</span> e <b>2</b> (dois) conjuntos  terão <span class="label label-info">peso 2 (dois)</span>, conforme determinado no <a href="http://fatweb.s3.amazonaws.com/vestibularfatec/documentos/Portaria-CEETEPS-GDS-1946-2017.pdf" target="_blank">Anexo II da Portaria CEETEPS GDS 1946/2017</a>, em função do eixo tecnológico do curso escolhido. <a href="calculadora/cursos/prova-peso2" target="_blank" class="label label-success">Clique aqui e verifique a matéria correspondente do curso desejado</a></li>
                </ul>
            </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Regra de Cálculo da nota final da Prova <small>(clique para abrir)</small>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Para o cálculo da nota final será utilizado o seguinte critério: <span class="label label-warning">Nota das questões da prova</span> e <span class="label label-warning">Nota da redação</span>
				</p><br>
                <p>A nota das questões objetivas da prova será dada por:<b>P = 100 x NPC/64</b>.<br />
                <b>Em que:</b>
                </p>
				<ul class="content-prova mx-4">
					<li><span class="label label-info">NPC</span> = Nota ponderada total das questões, formada pelo número de respostas certas das <b>10 questões de peso 2</b> multiplicado por dois, somado ao número de respostas certas das <b>44 questões de matérias de peso 1</b>.
					</li>
                </ul>
				<div class="alert alert-info" role="alert">Nessa parte da prova, o candidato que prestou o <b>ENEM</b> poderá utilizar a nota da parte objetiva da prova do ENEM. A nota final (<span class="badge bg-light text-dark">N</span>) para as questões objetivas será dada por:
					<ul class="content-prova2 mx-4">
						<li><b>N = (4 x P + 1 x ENEM)/5</b> <span class="label label-danger">SE ENEM maior que P</span> <b class="badge bg-light text-dark info">OU</b> </li>
                        <li><b>N = P</b>, <span class="label label-danger">SE ENEM menor ou igual a P</span></li>
					</ul>
				</div>
				<b>Em que:</b>
                <ul class="content-prova mx-4">
                        <li><span class="label label-info">P</span>: é a nota obtida nas questões objetivas da prova da Fatec.
                      </li>
                      <li><span class="label label-info">ENEM</span>:  é a nota da parte objetiva da prova do ENEM.
                      </li>								
                </ul><br />
				A nota final do candidato será dada pela igualdade:<b>NF = (8 x N + 2 x R)/10</b><br>
                <b>Em que:</b>
                  <ul class="content-prova mx-4">
                        <li><span class="label label-info">N</span>: é a nota final da parte objetiva da prova.
                      </li>
                      <li><span class="label label-info">R</span>: é a nota obtida na redação (valor máximo é <b class="badge bg-light text-dark">100</b>).</li>								
                      <li><span class="label label-info">NF</span>: é a nota final da prova.
                      </li>								
                    </ul>				      	
				<div class="alert alert-info" role="alert">Para o candidato que utilizar o <b>Sistema de Pontuação Acrescida</b>, a sua nota final será obtida pela seguinte fórmula:<br/>
					<b><span class="badge bg-light text-dark">NFA</span> = NF (1 + A + P)</b>
                </div>
                <b>Em que:</b>
                <ul class="content-prova mx-4">
					<li><span class="label label-info">NF</span>: é nota final obtida pelo candidato.</li>
                    <li><span class="label label-info">A</span> (valor <b class="badge bg-light text-dark">3%</b>): para candidatos que, no ato da inscrição, se autodeclararem afrodescendentes.</li>	
                    <li><span class="label label-info">P</span> (valor <b class="badge bg-light text-dark">10%</b>):  para candidatos que, no ato da inscrição, declararem que cursaram, integralmente, o ensino médio em instituições públicas federais, estaduais, municipais ou do Distrito Federal.</li>                    
                </ul>								
				<div class="alert alert-success" role="alert"><strong> O valor máximo da <span class="badge bg-light text-dark">NFA</span> é 100 pontos</strong>.</div>
            </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Calendário
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Confira o Calendário do Processo Seletivo.</strong> 
        </div>
      </div>
    </div>
  </div>