{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Calculadora Fatec é uma ferramenta para auxiliar candidatos a ingressarem nas instituições Fatecs. Armazenamos todas as demandas e notas de cortes dos vestibulares e expertize para conduzir um melhor resultado para o vestibular. Por isso, Calculadora Fatec, quem usa, sabe. Assine agora o serviço e se aproxime do seu objetivo em ser um aluno da Fatec. VEM PRA FATEC! Os candidatos podem usar a ferramenta para Calcular a Nota do Vestibular, Consultar os Guias de Fatecs e Cursos e prepare-se melhor para o exame do Vestibular.">
    <link href="{% static 'core/css/home.css' %}" rel="stylesheet" />


{% endblock %}

{% block 'title' %}HOME: Calculadora FATEC::Quem Usa, SABE! {% endblock %}

{% block 'body' %}
<div class="container">
    <h1>Seja bem-vindo a Calculadora Fatec</h1>
    <hr style="background-color: gray;" />
    <form accept="{% url 'home' %}" method="POST">{% csrf_token %}
        <input type="text" name="nome" placeholder="NOME" class="form-control" /> <br />
        <input type="submit" class="form-control" />
    </form>
    {% if nome %}
        <h2>{{nome}} </h2>
    {% endif %}
    <img src="{% static 'core/img/video_bg.jpg' %}" width="500" alt="" title=""/>
    <br />
    {% for fatec in fatecs %}
        <h3>{{forloop.counter}} - {{fatec}}<h3>
        {% if forloop.last %}
            <br/>    <hr style="background-color: gray;" />
        {% endif%}
    {% empty %}
        <p>Não tem nenhuma FATEC </p>
    {% endfor %}


</div>    
{% endblock %}