{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Calculadora Fatec - Pesquisa da Nota de Corte">
{% endblock %}

{% block 'title' %}Pesquisa da Nota de Corte {% endblock %}

{% block 'body' %}

<div class="container">    
    <div class="px-4 py-5 my-5 text-center bg-body rounded shadow-sm ">
        <img class="d-block mx-auto mb-4" src="{% static 'core/img/calculadora.png' %}" alt="" />
        <h1 class="display-5 fw-bold text-dark">Pesquisa da Nota de Corte</h1>       
        <div class="col-lg-6 mx-auto">
          <form  action="{% url 'detalhes-nota-de-corte' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="input-group input-group-lg my-3">
                <select class="form-select" id="fatecs" name="cod_fatec">
                    <option selected value="0">Escolha uma instituição...</option>
                        {% for fatec in fatecs %}
                            <!-- {{forloop.counter}} -->
                            <option value="{{fatec.id}}">{{fatec}}</option>
                        {% empty %}
                            <option value="0">Não tem nenhuma FATEC disponível</option>                        
                        {% endfor %}                  
                </select>                
            </div>    
            <div class="input-group input-group-lg my-3">
              <select class="form-select" id="cursos" name="cod_curso" disabled="disabled"  aria-label="Example select with button addon">
                  <option selected value="0">Escolha um curso...</option>
              </select>
            </div>            
            <input type="submit" class="btn w-100 btn-primary my-3 btn-lg" value="Analisar nota de corte" />            
        </form> 
        </div>
    </div>  
    <hr class="my-4" />
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<script src="{% static 'core/js/filtrar-curso-fatec.js' %}" ></script>

{% endblock %}