.fundo{
    background-color: #942019;
}

h1{
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.bg-nav{
    background-color: #191919;
}

.bg-hr{
    background-color: gray;
}

footer p{
    text-align: center;
}


/**/

